.container-login{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-login{
    width: 350px;
    background-color: #F8F8F8;
    box-shadow: 3px 1px 8px  rgba(0,0,0,.2);
    border-radius: 8px;
    & form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 32px;
        gap: 16px;
        & .btn-login{
            background-color: #47C5D7;
            color: white;
            font-weight: 600;
            text-transform: uppercase;
            cursor: pointer;
            box-shadow: 0 3px 4px gray;
            transition: all .3s ease-in-out;
            &:hover{
                filter: brightness(.9)
            }
        }
    }
    
}