*{
    box-sizing: border-box;
}

div{
    background-color: #F8F8F8;
    height: 10vh;
    border-bottom: 2px solid   #3bb2e9;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 64px;
    img{
        height: 8vh;
    }
}